
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap and Dependencies
@import "~bootswatch/dist/pulse/variables";
@import '~bootstrap/scss/bootstrap';
@import "~bootswatch/dist/pulse/bootswatch";

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.no-wrap {
    white-space: nowrap;
}

.text-white a .fa-edit {
    color: $white;
}

input.border-secondary {
    border: $secondary 1px solid;
}

// Prevent auto-zoom on mobile browsers when inputting data.
input[type="color"], input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="email"], input[type="month"],
input[type="number"], input[type="password"], input[type="search"],
input[type="tel"], input[type="text"], input[type="time"],
input[type="url"], input[type="week"], select,
textarea {
    &, &:focus {
        font-size: $standard-font-size;
    }
}

header {
    .dropdown-item.active {
        background-color: lighten($purple, 25%);

        &:hover {
            background-color: $purple;
        }
    }
}

.search {
    .input-group {
        border: $purple 2px solid;
        border-radius: $search-border-radius;

        select, input, button {
            border: none;

            &:focus {
                box-shadow: none;
            }
        }

        select {
            &:hover {
                cursor: pointer;
            }
        }

        button {
            font-size: $standard-font-size;
            padding-top: 5px;
        }
    }
    .rounded-left {
        border-top-left-radius: $search-border-radius !important;
        border-bottom-left-radius: $search-border-radius !important;
    }
    .rounded-right {
        border-top-right-radius: $search-border-radius !important;
        border-bottom-right-radius: $search-border-radius !important;
    }
}

//images in inventory 
.inventory-image {
    height: 200px;
}

.item {
    h1.title {
        font-size: 14pt;
    }
    .postal_code {
        font-weight: bold;
        font-size: 1.05em;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    width: 100%;
    background-color: $primary;
    color: transparentize($white, 0.1);
    text-align: center;
}

